@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right top, #0c2953, #402f63, #6e3069, #973263, #b73c53);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

.app {
  padding: 0 1.5rem;
  max-width: 115rem;
  margin: auto;
}
