@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #31020f,
    #2a0719,
    #210c1e,
    #180f1e,
    #12111b,
    #10111d,
    #0e111e,
    #0a1120,
    #061129,
    #030f32,
    #010e3b,
    #050a42
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

.app {
  padding: 0 1.5rem;
  max-width: 115rem;
  margin: auto;
}
